@import '../mixins';

.homepage-banner {
  margin: 0 0 40px;
  padding: 10em 0 6em;
  background-position: top;
  background-size: cover;

  .banner-content {
    text-align: center;
    max-width: 960px;
    display: flex;

    .wrapper {
      max-width: 400px;
      .banner-title {
        font-size: 44px;
        line-height: 52px;
        font-weight: 500;
      }
  
      p {
        font-size: 20px;
      }
  
      img {
        max-width: 185px;
      }
    }
  }
}